doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    title= title
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap/css/bootstrap.css', rel='stylesheet')
    // Bootstrap theme
    link(href='stylesheets/bootstrap/css/bootstrap-theme.min.css', rel='stylesheet')
    // Custom styles
    link(href='stylesheets/theme.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  body
    .container.theme-showcase
      .jumbotron
        h1 Liberty Square Dialogues
        |
        p An evolving presentation of the history of Occupy Wall Street.
        |
        p
      |
      p
      |
      .row
        .col-md-4
          button.btn.btn-lg.btn-default(type='button') Previous
        |
        .col-md-4.counter-col(style='text-align: start;')
          span.badge {current_page_number} / {total_pages}
        |
        .col-md-4
          button.btn.btn-lg.btn-default.next(type='button') Next
        // /.col-sm-4
        // /.col-sm-4
        // /.col-sm-4
      |
      p
      |
      .row
        .col-md-7
          .panel.panel-default
            .panel-body.tweet
              .tweet-body
                .p-author.h-card.tweet-div
                  a.screen-name.u-url.tweet-p(target='https://twitter.com/LibertySqGA')
                    span.avatar.tweet-avatar
                      img(src='https://pbs.twimg.com/profile_images/1793471154/Untitled_2-big_normal.jpg')
                    span.p-name LibertySq GA
                    span.p-whatever @LibertySqGA
                a.permalink.tweet-asdf January 31st, 2012
                |
                .tweet-content
                |
                .e-content
                  | Stairs acknowledges this concern. Ted will explain, and then we&apos;ll temp check whether to hear it.
                  a.ht(rel='tag', href='https://twitter.com/search/%23nycga', target='', title='#nycga')
                    | #
                    b nycga
                  |
                  a.ht(rel='tag', href='https://twitter.com/search/%23ows', target='', title='#ows')
                    | #
                    b ows
                |
                .tweet-footer
                  a.view-detail(target='_blank', href='https://twitter.com/LibertySqGA/statuses/164514363452039168') View on Twitter
              |
              .tweet-margin-buttons X
            |
            .panel-body.tweet
              .tweet-body
                .p-author.h-card.tweet-div
                  a.screen-name.u-url.tweet-p(target='https://twitter.com/LibertySqGA')
                    span.avatar.tweet-avatar
                      img(src='https://pbs.twimg.com/profile_images/1793471154/Untitled_2-big_normal.jpg')
                    span.p-name LibertySq GA
                    span.p-whatever @LibertySqGA
                a.permalink.tweet-asdf January 31st, 2012
                |
                .tweet-content
                |
                .e-content
                  | Stairs acknowledges this concern. Ted will explain, and then we&apos;ll temp check whether to hear it.
                  a.ht(rel='tag', href='https://twitter.com/search/%23nycga', target='', title='#nycga')
                    | #
                    b nycga
                  |
                  a.ht(rel='tag', href='https://twitter.com/search/%23ows', target='', title='#ows')
                    | #
                    b ows
                |
                .tweet-footer
                  a.view-detail(target='_blank', href='https://twitter.com/LibertySqGA/statuses/164514363452039168') View on Twitter
              |
              .tweet-margin-buttons X
            |
            .panel-body.tweet
              .tweet-body
                .p-author.h-card.tweet-div
                  a.screen-name.u-url.tweet-p(target='https://twitter.com/LibertySqGA')
                    span.avatar.tweet-avatar
                      img(src='https://pbs.twimg.com/profile_images/1793471154/Untitled_2-big_normal.jpg')
                    span.p-name LibertySq GA
                    span.p-whatever @LibertySqGA
                a.permalink.tweet-asdf January 31st, 2012
                |
                .tweet-content
                |
                .e-content
                  | Stairs acknowledges this concern. Ted will explain, and then we&apos;ll temp check whether to hear it.
                  a.ht(rel='tag', href='https://twitter.com/search/%23nycga', target='', title='#nycga')
                    | #
                    b nycga
                  |
                  a.ht(rel='tag', href='https://twitter.com/search/%23ows', target='', title='#ows')
                    | #
                    b ows
                |
                .tweet-footer
                  a.view-detail(target='_blank', href='https://twitter.com/LibertySqGA/statuses/164514363452039168') View on Twitter
              |
              .tweet-margin-buttons X
            |
            .panel-body.tweet
              .tweet-body
                .p-author.h-card.tweet-div
                  a.screen-name.u-url.tweet-p(target='https://twitter.com/LibertySqGA')
                    span.avatar.tweet-avatar
                      img(src='https://pbs.twimg.com/profile_images/1793471154/Untitled_2-big_normal.jpg')
                    span.p-name LibertySq GA
                    span.p-whatever @LibertySqGA
                a.permalink.tweet-asdf January 31st, 2012
                |
                .tweet-content
                |
                .e-content
                  | Stairs acknowledges this concern. Ted will explain, and then we&apos;ll temp check whether to hear it.
                  a.ht(rel='tag', href='https://twitter.com/search/%23nycga', target='', title='#nycga')
                    | #
                    b nycga
                  |
                  a.ht(rel='tag', href='https://twitter.com/search/%23ows', target='', title='#ows')
                    | #
                    b ows
                |
                .tweet-footer
                  a.view-detail(target='_blank', href='https://twitter.com/LibertySqGA/statuses/164514363452039168') View on Twitter
              |
              .tweet-margin-buttons X
        |
        .col-md-5
          .panel.panel-default
            .panel-body Basic panel example
          |
          h3 Column title
          |
          |
          p
            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    |
    script(src='bootstrap/js/bootstrap.min.js')